<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list </title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    <h1>to day is <%= listTitle %></h1>
<div class="box">
    <% newlist1.forEach(function(item){%>
    <input type="checkbox">
        <p><%= item.name %></p>

<%})%>
    </div>



    


  
    
    
       
    
<form action="/" method="post">
    <input type="checkbox">
        <input type="text" name="newItem">
        <button type="submit" name="list" value="<%=listTitle%>">add</button>
    </form>
    
</body>
</html>
